@import "../uqlibrary-elements/resources/theme/element";

.with-persistent-footer{
  margin-bottom: ($persistent-footer-height*2);
}

uqlibrary-holds {
  &::shadow {
    uqlibrary-borrowing-list {
      &::shadow {
        .date {
          padding-top: $three-line-list-item-padding-top;
        }
      }
    }
  }
}

uqlibrary-fines {
  &::shadow {
    uqlibrary-borrowing-list {
      &::shadow {
        .title {
          padding-top: $three-line-list-item-padding-top;
          @include gmd-type-style(body1, $primary);
        }

        // For fines with 3 digits we need a bit more space
        .content {
          margin-left: $three-line-list-icon-item-text-padding-left - $three-line-list-icon-item-icon-padding-left + 8;

        }
      }
    }
  }
}