@import "../uqlibrary-elements/resources/theme/element";

:host {
}

.attentionIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding-left: 16px;
  height: 32px;
  overflow: hidden;
  width: 100%;
  paper-icon {
    width: 24px;
    height: 24px;
  }

  &.warning{

  }
  &.error{

  }

}
.tooltip {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}